modules = ["python-3.11", "nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Dev Server"
author = 45268945
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Development Server"
author = 45268945
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
